<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Etude Auto
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
          <form class="fb">
            <input type="hidden" id="form_uid" value="<%= @form.uid %>" />
            <div class="panel panel-default">
              <div class="panel-heading">Renseignements Chauffeur</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="1">Prénom</label>
                          <input type="text" class="form-control" id="1" data-id="firstname">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="2">Nom</label>
                        <input type="text" class="form-control" id="2">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="3">Date de naissance</label>
                        <input type="text" class="form-control" id="3">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="4">Email</label>
                        <input type="text" class="form-control" id="4">
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="5">Adresse</label>
                      <input type="text" class="form-control" id="5">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="6">Téléphone fixe</label>
                      <input type="text" class="form-control" id="6">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="7">Téléphone portable</label>
                      <input type="text" class="form-control" id="7">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="8">Profession</label>
                      <input type="text" class="form-control" id="8">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Salarié</label></br>
                      <label class="radio-inline">
                        <input type="radio" name="9" value="true"> Oui
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="9" value="false"> Non
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="10">Numéro registre national</label>
                      <input type="text" class="form-control" id="10">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="11">Date de permis de conduire</label>
                      <input type="text" class="form-control" id="11">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Plus d'un conducteur?</label>
                      <div class="col-sm-7">
                        <label class="radio-inline">
                          <input type="radio" name="12" value="true" id="morethanadrivertrue"> Oui
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="12" value="false"> Non
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="otherdriverdetails" class="hidden">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="13">Nom</label>
                        <input type="text" class="form-control" id="13">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="14">Prenom</label>
                        <input type="text" class="form-control" id="14">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="15">Code postal</label>
                        <input type="text" class="form-control" id="15">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="16">Date de naissance</label>
                        <input type="text" class="form-control" id="16">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="17">Date de permis</label>
                        <input type="text" class="form-control" id="17">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                      <label for="18" class="col-sm-7 control-label">Combien de vehicule possédez-vous dans votre ménage?</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="18">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Conducteur de moins de 23 ans?</label>
                      <div class="col-sm-7">
                        <label class="radio-inline">
                          <input type="radio" name="19" value="true"> Oui
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="19" value="false"> Non
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Habituel?</label>
                      <div class="col-sm-7">
                        <label class="radio-inline">
                          <input type="radio" name="20" value="true"> Oui
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="20" value="false"> Non
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Antécédents sinistres durant les 5 dernières années</div>
              <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="21" class="col-sm-4 control-label">Nombre(s) de sinistre(s) en tort</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="21">
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="22" class="col-sm-4 control-label">Nombre(s) de sinistre(s) en droit</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="22">
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="23" class="col-sm-5 control-label">Nombre(s) de sinistre(s) en (mini) omnium</label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="23">
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="24" class="col-sm-4 control-label">Circonstances et débours</label>
                          <div class="col-sm-8">
                            <textarea rows="3" class="form-control" id="24"></textarea>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">Retrait(s) de permis</label>
                          <div class="col-sm-8">
                            <label class="radio-inline">
                              <input type="radio" name="25" value="true"> Oui
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="25" value="false"> Non
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label for="26" class="col-sm-4 control-label">Cause(s)</label>
                          <div class="col-sm-8">
                            <textarea rows="3" class="form-control" id="26"></textarea>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Informations sur le véhicule</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="27">Marque</label>
                          <input type="text" class="form-control" id="27">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="28">Type</label>
                        <input type="text" class="form-control" id="28">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="29">KW</label>
                          <input type="text" class="form-control" id="29">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="30">Carburant</label>
                        <input type="text" class="form-control" id="30">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Type de véhicule</label></br>
                          <label class="radio-inline">
                            <input type="radio" name="31" value="new"> Neuf
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="31" value="direction"> Direction
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="31" value="occasion"> Occasion
                          </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="cabriolet">Cabriolet</label></br>
                        <label class="radio-inline">
                          <input type="radio" name="32" value="new"> Non
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="32" value="direction"> Bâché
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="32" value="occasion"> Tôlé
                        </label>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="sport">Sportif</label></br>
                          <label class="radio-inline">
                            <input type="radio" name="33" value="true"> Oui
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="33" value="false"> Non
                          </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="34">Numéro de plaque</label>
                        <input type="text" class="form-control" id="34">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="35">Numero de châssis</label>
                          <input type="text" class="form-control" id="35">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="garage">Garage</label></br>
                        <label class="radio-inline">
                          <input type="radio" name="36" value="true"> Oui
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="36" value="false"> Non
                        </label>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="37">Valeur catalogue HTVA hors ristournes</label>
                          <input type="text" class="form-control" id="37">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="38">Avec ristournes</label>
                        <input type="text" class="form-control" id="38">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="39">KM parcouru par année</label>
                          <input type="text" class="form-control" id="39">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="40">KM compteur</label>
                        <input type="text" class="form-control" id="40">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="41">Type d'alarme</label>
                          <input type="text" class="form-control" id="41">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="42">Compagnie actuelle</label>
                          <input type="text" class="form-control" id="42">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="43">Depuis combien d'année dans cette compagnie</label>
                        <input type="text" class="form-control" id="43">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="44">Numéro du contrat</label>
                          <input type="text" class="form-control" id="44">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="45">Autres compagnies (si < 5)</label>
                        <input type="text" class="form-control" id="45">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Garanties actuelles</h4>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="46" value="rc">RC
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="47" value="pjcompagnie">PJ Compagnie
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="48" value="pjcompagniespec">PJ Compagnie spécialisée
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="49" value="omnium">Omnium valeur agréée ou vénale
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="50" value="miniomnium">Mini omnium valeur agréée ou vénale
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="51" value="assistance">Assistance
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="52" value="conducteurindividuellecirculation">Conducteur individuelle circulation
                          </label>
                        </div>
                        <div class="form-group">
                          <label for="53">Autres</label>
                          <input type="text" class="form-control" id="53">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <h4>Garanties souhaitées</h4>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="54" value="rc">RC
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="55" value="pjcompagniespec">PJ Compagnie spécialisée
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="56" value="omnium">Omnium valeur agréée ou vénale
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="57" value="miniomnium">Mini omnium valeur agréée ou vénale
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="58" value="assistance">Assistance
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="59" value="conducteurindividuelle">Conducteur individuelle circulation
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="60">Autres</label>
                        <input type="text" class="form-control" id="60">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="61">Tarif actuel</label>
                          <input type="text" class="form-control" id="61">
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Contact Details Column -->


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
