<table class="table" id="emails_sent">
  <thead>
    <tr>
      <th>Email envoyé le</th>
      <th>Destinataire</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'emails_sent' %>
  </tbody>
</table>
