<div class="panel panel-default">
  <div class="panel-heading">Détails</div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item">
          Création
          <span class="pull-right text-muted small"><em><%= @form.created_at %></em>
          </span>
      </a>
      <a href="#" class="list-group-item">
          Dernière mise à jour
          <span class="pull-right text-muted small"><em><%= @form.created_at %></em>
          </span>
      </a>
      <a href="#" class="list-group-item">
          Auteur
          <span class="pull-right text-muted small"><em>Denis Jacquemin</em>
          </span>
      </a>
  </div>
  </div>
</div>
